### 1.Importing

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib
music_data = pd.read_csv('music.csv')

drop and mentioning column deletes the column but not in original dataset 
But create a new dataset that does not have genre

### 2.Cleaning or preparing the data

In [2]:
#Like removing null values
#As we don't have any null values the other thing that we can do is 
#Spliting of data into input set and output set

### 3. Split the data into training/test sets

In [3]:
#Input dataset
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [4]:
#Output dataset
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

### 4. Dividing into training dataset and test dataset

In [5]:
#we import train_test_split for spliting data into training and test datasets
#then we split it in the below code we allocate 20% of data for training purpose
#for this function we pass the train and test dataset ie X & y and size
#This function returns a tuple so we can unpack into 4 variables or assign it to 4 variables
#ie X_train, X_test, y_train and y_test
#X_train and X_test are input sets for training and testing
#y_train and y_test are output sets for training and testing

In [16]:
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.2)

### 5. Build a model using machine learning algorithm

In [17]:
model = DecisionTreeClassifier()

In [18]:
#Now we have defined a model the next step is we need to train it so it can identify patterns and make predictions

### 6. Train the model

In [19]:
model.fit(X_train,y_train)
#predictions = model.predict([[21,1],[22,0]])
predictions = model.predict(X_test)
predictions

array(['Jazz', 'Classical', 'HipHop', 'Jazz'], dtype=object)

In [20]:
score = accuracy_score(y_test, predictions)
score

1.0